html{
  font-family: 'PT Sans', sans-serif;
}
* {
  margin: 0px;
  box-sizing: border-box;
}
h1{
  color: white;
  background: #222222;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em 0;
}
h2 {
  background-color: cyan;
  margin: 5px 0px;
  text-align: left;
  padding: 8px;
}
h2 > a {
  color: black;
  font-weight: bold;
  text-decoration: underline gold;
}
ul {
  list-style: none;
}
nav {
  text-align: center;
}
ul li {
  display: inline-block;
  color: white;
  background-color: #AAAAAA;
  padding: 0.15em;
}
main {
  width: 90%;
  margin: auto;
  text-align: center;
}
span.imgcontrol {
  background-color: gold;
  display: block;
  text-align: center;
}

div.imagesection {
  /*width: 32%;*/
  margin: 0px 1px 8px;
  display: inline-block;
}
footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 1em 0;
}
