html{
  font-family: 'PT Sans', sans-serif;
}
* {
  margin: 0px;
  box-sizing: border-box;
}
h1{
  color: white;
  background: #222222;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em 0;
}
ul {
  list-style: none;
}
nav {
  text-align: center;
}
ul li {
  display: inline-block;
  color: white;
  background-color: #AAAAAA;
  padding: 0.15em;
}
